{% if nodes %}
    <table>
        <tr>
        <th> Node </th>
        <th> Ident </th>
        <th> User </th>
        <th> Created </th>
        <th> Active recently </th>
        </tr>
    {% for node in nodes %}
        <tr> {{ node }} </tr>
        <tr> <a href="{% url 'gps:showAll' node.id %}">{{ node.ident }}</a> </tr>
        <tr> {{ node.user }} </tr>
        <tr> {{ node.created }} </tr>
        <tr> {{ node.recently_active }} </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No active Gps Nodes currently.</p>
{% endif %}
